#registration-form > .form-control{
 margin-bottom: 10px;
}

.event-details{
    font-weight: bold;
}
#other-page-wrapper{
    margin-top: 100px;
}

label{
    font-weight: normal !important;
}

.form-required{
    color: red;
    font-weight: bold;
}

.glyphicon-envelope{
    font-size: 33px;
    color: #4c4d64;
    
}
a:hover > .glyphicon{
    color:#F2EDD7;
    opacity: 1;
}

.fa-spotify{
    font-size: 33px;
    color: #4c4d64;
    position: relative;
    top: -3.5px;
    
}
a:hover > .fa-spotify{
    color:#1ed760;
    opacity: 1;
}

.spotify{
        width: auto;
    position: relative;
}

#footer .credits .email i{
width: auto;
position: relative;
}

.slider-img{
    max-height: 250px;
    display: inline-block;
}

.navbar-brand>span{
    /*font-family: futura-pt, sans-serif;*/
    font-family: bebas-neue, sans-serif;
    letter-spacing: 1.3px;
    font-weight: 700;
    text-transform: uppercase;
}


#footer {
    background-color: #2D2E49;
}

#footer .credits .copyright{
    color:#F2EDD7 !important;
}

.navbar.navbar-inverse{
    background: rgba(52, 49, 72, 0.5);
    border-bottom: 1px solid #585858;
    color: #333;
}

.navbar.sticky {
    background: #343148;
    border-bottom: 1px solid #2D2E49;
}

.navbar .container .navbar-header .navbar-brand {
color: #F2EDD7;
}

.footer-link{
    color: #D2C29D;
}
.footer-link:hover{
    color: #f9dc7a;
}

.navbar .container .collapse .nav .dropdown .dropdown-menu > li > a:hover{
    background: #4c4d64
}

.btn-primary{
    background: #4c4d64;
    border-color: #2D2E49;
}

.btn-primary:hover{
    background: #2D2E49;
    border-color: #2D2E49;
}


.talk-container{
    margin-top: 60px;
}
.talk-container>div {
    line-height: 30px;
}

.page-banner{
    margin-top: -15px;
    margin-bottom: 40px;
}

.no-bottom-margin{
    margin-bottom: 0 !important;
}