#static-img-slider{
    background-color: #273364;
}

.navbar.navbar-inverse{
    /*background: rgba(52, 49, 72, 0.5);*/
    background: #273364;
    border-bottom: 1px solid #273364;
    color: #333;
}

.navbar.sticky {
    background: #273364;
    border-bottom: 1px solid #2D2E49;
}

.navbar .container .navbar-header .navbar-brand {
color: #F2EDD7;
}

#footer {
    background-color: #273364;
}

#footer .credits .copyright{
    color:#F2EDD7 !important;
}

.footer-link{
    color: #D2C29D;
}
.footer-link:hover{
    color: #f9dc7a;
}

.navbar .container .collapse .nav .dropdown .dropdown-menu > li > a:hover{
    background: #273364
}

.btn-primary{
    background: #525b83;
    border-color: #273364;
}

.btn-primary:hover{
    background: #273364;
    border-color: #273364;
}

#showcase .features_op1_row .feature .img_box span.circle
{
    background-color: #273364;
}


p{
    color: #000;
    font-size: 16px;
}
li{
    color: #000;
    font-size: 16px;
}





#registration-form > .form-control{
 margin-bottom: 10px;
}

.event-details{
    font-weight: bold;
}
#other-page-wrapper{
    margin-top: 100px;
}

label{
    font-weight: normal !important;
}

.form-required{
    color: red;
    font-weight: bold;
}

.glyphicon-envelope{
    font-size: 33px;
    color: #47517b;
    
}
a:hover > .glyphicon{
    color:#F2EDD7;
    opacity: 1;
}

.fa-spotify{
    font-size: 33px;
    color: #47517b;
    position: relative;
    top: -3.5px;
    
}
a:hover > .fa-spotify{
    color:#1ed760;
    opacity: 1;
}

.spotify{
        width: auto;
    position: relative;
}

#footer .credits .email i{
width: auto;
position: relative;
}

.slider-img{
    max-height: 360px;
    display: inline-block;
}



/*Hide static image slider like the original theme did*/
@media (max-width: 767px) {
    #static-img-slider {
        display: none;
    }
    .desktop-only{
        display: none;
    }
    .person-container{
        height: 430px !important;
    }
}
@media (min-width: 768px) {
    .mobile-only{
        display: none;
        
    }
}

.desktop-only > img{
    margin-left: 10px;
}

.mobile-only > img{
    margin-bottom: 10px;
}

.navbar-brand>span{
    /*font-family: futura-pt, sans-serif;*/
    font-family: bebas-neue, sans-serif;
    letter-spacing: 1.3px;
    font-weight: 700;
    text-transform: uppercase;
}


.talk-container{
    margin-top: 60px;
}
.talk-container>div {
    line-height: 30px;
}

.page-banner{
    margin-top: -15px;
    margin-bottom: 40px;
    max-height: 320px;
    display: inline-block;
}

.no-bottom-margin{
    margin-bottom: 0 !important;
}

.speaker-img{
    max-height: 375px;
    margin: 20px;
    display: inline-block;
}

.speaker-bio{
    margin-top: 20px;
}

.elective-img{
    max-height: 300px;
    margin: 10px;
    display: inline-block;
}

.electives-list {
    margin-top:30px;
    list-style: none;
}
.electives-sublist{
    list-style: none;
}

.electives-sublist{
    margin-bottom: 20px;
    margin-top: 10px;
}

.electives-list li {
    margin-bottom: 10px;
    list-style: none;
}

.electives-container{
    margin-top: 40px;
}

/*Committee Page*/
.person-container{
    margin-top: 70px;
    height: 530px;
}
.person-name{
    font-size: 24px;
  margin-bottom: 8px;
  margin-top: 10px;
  font-weight: 300;
  line-height: 24px;
  }
  
  .person-title{
    font-size: 16px;
    color: #a2a5a4;
    text-transform: uppercase;
    margin-bottom: 50px;
  }
  .person-image>img {
    width: auto;
    height: 160px;
    border-radius: 20%;
  } 
  .person-bio{
      margin-top: -20px;
      font-size: 15px;
  }

  .header-container{
      
      height: inherit;
      width: 100%;
      min-height: 360px;
      background-repeat: no-repeat;
      background-position: center; 
  }

  .header-info{
    font-size: 26px;
    line-height: 26px;
    color: #fff;
    width: 31%;
    display: inline-block;

    margin-top: 100px;
    padding-top: 30px;
    padding-bottom: 30px;
  }
  .header-info >div{
    margin-top: 0;
    font-family: bebas-neue, sans-serif;
    text-transform: uppercase;
    color: #fff;
    text-shadow: 1px 1px #000;
    
  }

  .song-list{
      list-style: none;
      
  }

  .song-list>li{
    padding-top: 18px;
  }

  .img-border-20{
      border-radius: 20%;
  }